*{
	margin: 0;
	padding: 0;
}

/*css cho tooltip ảnh sản phẩm*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/*bat dau css footer*/
footer {
	background-color: rgba(44, 62, 80, 1.0);
	margin-top: 30px;
	width: 100%;
	bottom: 0;
	font-weight: lighter;
	color: white;
}
.footerHeader{
	width:100%;
	padding:1em;
	background-color:rgba(52, 73, 94,1.0);
	text-align:center;
	color:white;
}
footer h3{
	font-weight:lighter;
}
footer ul{
	padding-left:5px;
	list-style:none;
}
footer p{
	text-align : justify;
	font-size : 12px;
}
footer iframe {
	width:100%;
	position:relative;
	height:170px;
}
.sm{
	list-style:none;
	overflow:auto;
}
.sm li {
	display: inline;
	padding:5px;
	float:left;
} 
.sm li a img {
	width:32px;
}
.header h3,img {
	text-transform:  uppercase;
	font-family:  monospace;
	font-size: 17px;
	text-align:  center;
	padding-top: 10px;
	color:  red;
}
.header img{
	margin: auto;
}
/*ket thuc css footer*/
body {
	background: #f1f1f1;
	font-family: sans-serif;
}

.tieude_benPhai{
	float: right;
}
.tieude .navbar-default {
	background-color: rgba(44, 62, 80, 1.0);
}
.navbar-inverse .navbar-brand{
	margin-top: 10px;

}
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
.btn-login {
	background-color: white;
	color: black;
	padding: 10px 20px;
	margin: 8px 0;
	border: currentColor; 
	cursor: pointer;
	width: 100%;
}

.btn-login:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for all buttons */
.btn-dangky {
	background-color: white;
	color: black;
	padding: 10px 20px;
	margin: 8px 0;
	border: currentColor; 
	cursor: pointer;
	width: 100%;
}

.btn-dangky:hover {
	opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}
.signupbtn{
	background-color: #4CAF50;

	padding: 14px 20px;


}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
	float: left;
	width: 50%;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}

.close:hover,
.close:focus {
	color: #f44336;
	cursor: pointer;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn {
		width: 100%;
	}
}

/*css header*/
.slogan.col-md-3 {
    margin-top:  10px;
     text-transform:  uppercase;
    font-weight:  bold;
}
.menu.col-md-7 {
    margin-top: 47px;
     text-transform:  uppercase;
    font-weight:  bold;
}

/*ket thuc css header*/
.panel-heading.text-center {
	text-transform:  uppercase;
	font-weight:  bold;
}
.panel-default>.panel-heading {
	background: #9eadff;
}

/*ket thuc css panel-heading*/

.sanpham {
	margin-top: 20px;
}
*{
	margin: 0;
	padding: 0;
}
h3.loigioithieu {
    text-transform:  uppercase;
    color:  #777;
    border-bottom: 1px solid #e8e2e2;
    margin-bottom: 10px;
    padding:  10px;
}
h3.loichao.text-center {
    font-size:  30px;
    font-family:  monospace;
    font-weight:  bold;
}
.gioithieu p {
    font-style:  italic;
    color:  #777;
    font-family: cursive;
    font-size:  20px;
}
p.loiket {
    font-weight:  bold;
}
*{
	margin: 0;
	padding: 0;
}
.thumbnail img {
	width: 100%;
	height: 150px;
}
.hoTro {
	width: 100%;
	height: 100%;
}

.blog {
	height: 100%;
}
.caption {
	height: 120px;
	
}
.caption h3{
	font-size: 15px;

}

footer {
    background-color: rgba(44, 62, 80, 1.0);

    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}
.footerHeader{
    width:100%;
    padding:1em;
    background-color:rgba(52, 73, 94,1.0);
    text-align:center;
    color:white;
}
footer h3{
    font-weight:lighter;
}
footer ul{
    padding-left:5px;
    list-style:none;
}
footer p{
    text-align : justify;
    font-size : 12px;
}
footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
} 
.sm li a img {
    width:32px;
}
.header h3 {
    text-transform:  uppercase;
    font-family:  monospace;
    font-size: 17px;
    text-align:  center;
    padding-top: 10px;
    color:  red;
}
form.navbar-form.navbar-right {
    margin-right: 0px;
}
body {
	background: #f1f1f1;
}
.panel-heading.text-center {
    text-transform:  uppercase;
    font-weight:  bold;
}
.thumbnail h4 {
    height: 50px;
}
.panel-heading.text-center {
    font-size: 11px;
}
.section-hlv {
	background: url(../images/bg-hlv.jpg);
	
}

.danhmucsp {
	margin-top: 20px;
}